attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
blis==0.4.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cymem==2.0.3
dateutil-br==0.0.7
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
gTTS==2.1.1
gTTS-token==1.1.3
idna==2.10
# importlib-metadata @ file:///C:/ci/importlib-metadata_1593446511143/work
inflect==4.1.0
#ipykernel @ file:///C:/ci/ipykernel_1595351551858/work/dist/ipykernel-5.3.3-py3-none-any.whl
#ipython @ file:///C:/ci/ipython_1593447482397/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
jaraco.itertools==5.0.0
#jedi @ file:///C:/ci/jedi_1592833825077/work
Jinja2==2.11.2
joblib==0.16.0
Js2Py==0.70
jsonschema==3.2.0
jupyter==1.0.0
#jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-core==4.6.3
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==8.4.0
murmurhash==1.0.2
nbconvert==6.3.0
nbformat==5.0.7
nltk==3.5
notebook==6.0.3
numpy==1.19.1
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
pipwin==0.5.0
plac==1.1.3
playsound==1.2.2
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
#pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.3.0/pt_core_news_sm-2.3.0.tar.gz
#PyAudio @ file:///C:/Users/Renato/pipwin/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
Pygments==2.6.1
pyjsparser==2.7.1
pyparsing==2.4.7
PyPrind==2.11.2
pyrsistent==0.16.0
pySmartDL==1.3.3
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.1
#qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
regex==2020.6.8
requests==2.24.0
Send2Trash==1.5.0
sip==4.19.13
six==1.15.0
soupsieve==2.0.1
spacy==2.3.2
SpeechRecognition==3.8.1
srsly==1.0.2
terminado==0.8.3
testpath==0.4.4
thinc==7.4.1
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
tzlocal==2.1
urllib3==1.25.10
wasabi==0.7.1
#wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
wincertstore==0.2
wolframalpha==4.0.0
xmltodict==0.12.0
zipp==3.1.0
